<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="base :: head">
</head>
<header th:replace="base :: header">
</header>

<body class="bg-white">



<!--Section: Contact v.2-->
<section class="mb-4 ml-5">

    <!--Section heading-->

    <!--Section description-->
    <p class="text-center w-responsive mx-auto text-dark mb-5">Do you have any questions? Please do not hesitate to commande us directly. Our team will come back to you within
        a matter of hours to help you.</p>

    <div class="row bg-primary p-4 text-light rounded-lg">

        <!--Grid column-->
        <div class="col-md-9 mb-md-0 mb-5">
            <form th:action="@{/edit/edit-commande}" th:object="${commande}" id="commande-form" name="commande-form" method="post">
                <input type="hidden" th:field="*{id}">
                <!--Grid row-->
                <div class="row ">

                    <!--Grid column-->
                    <div class="col-md-6">
                        <div class="md-form mb-0">
                            <label class="m-3" for="name" >Nom de ma commande : </label>
                            <input th:field="*{nom}" type="text" id="name" name="name" class="form-control">
                        </div>
                    </div>
                    <!--Grid column-->

                    <!--Grid column-->

                    <div class="col-md-6">
                        <div class="md-form mb-0">
                            <label class="m-3" for="Paiment-select">Type de paiment :</label>
                            <select class="form-control" id="Paiment-select" th:field="*{paiement}">
                                <option th:each="paiement: ${paiements}" th:text="${paiement.nom}" th:value="${paiement.id}"></option>
                            </select>
                        </div>
                    </div>
                    <!--Grid column-->

                </div>
                <!--Grid row-->

                <!--Grid row-->


                <div class="row">
                    <div class="col-md-6">
                        <div class="md-form mb-0">
                            <label class="m-3" for="dateCommande">Date du ticket : </label>
                            <input th:field="*{dateCommande}" type="date" class="form-control" id="dateCommande" placeholder="Date d'ajout ">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="md-form mb-0">
                            <label class="m-3" for="statutCommande"> Statut de la commande : </label>
                            <input th:field="*{statutCommande}" type="date" class="form-control" id="statutCommande" placeholder="Date d'ajout ">
                        </div>
                    </div>
                    <!--Grid row-->
                    <div class="col-md-6">
                        <div class="md-form mb-0">
                            <label class="m-3" for="Produit-select">Produit :</label>
                            <select class="form-control" id="Produit-select" th:field="*{produit}">
                                <option th:each="produit: ${produits}" th:text="${produit.nom}" th:value="${produit.id}"></option>
                            </select>
                        </div>
                    </div>
                </div>

                <!--Grid row-->
                <div class="row">
                    <!--Grid column-->
                    <div class="col-md-12 mt-5" >

                        <div class="md-form">
                            <label class="m-3" for="commantaire-select">Description du ticket :</label>
                            <textarea th:field="*{commentaire}" type="text" id="commantaire-select" name="message" rows="5" class="form-control md-textarea"></textarea>
                            <label class="m-3" for="commantaire-select"></label>
                        </div>

                    </div>
                </div>

                                <button type="submit" class="btn btn-success">
                                    <span th:text="${commande.id == 0} ? 'Valider ma commande ' : 'Modifier ma commande'"></span>
                                </button>


            </form>
        </div>
        <div class="status"></div>

        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-3 text-center">
            <ul class="list-unstyled mb-0">
                <li><i class="fas fa-map-marker-alt fa-2x"></i>
                    <p>NANCY, 54 000, FR</p>
                </li>

                <li><i class="fas fa-phone mt-4 fa-2x"></i>
                    <p>+ 03 23 56 89 58</p>
                </li>

                <li><i class="fas fa-envelope mt-4 fa-2x"></i>
                    <p>commande@sarlmagasin.com</p>
                </li>
            </ul>
        </div>
        <!--Grid column-->

    </div>


</section>
<!--Section: Contact v.2-->







</body>
</html>