<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="base :: head">
</head>
<header th:replace="base :: header">
</header>

<body>
<form th:action="@{/modo/edit-produit}" th:object="${produit}" method="post">
    <fieldset class="justify-content-center m-5">
        <input type="hidden" th:field="*{id}">
        <div class="form-group w-25 mx-auto">
            <label for="nom"> Nom de l'incident : </label>
            <input th:field="*{nom}" type="text" class="form-control" id="nom" placeholder="Nom de l'article">
        </div>
        <div class="form-group  w-25 mx-auto">
            <label for="Quantite">quantité d'article en stock: </label>
            <input th:field="*{quantite}" type="text" class="form-control" id="Quantite" placeholder="Nombre en stock ">
        </div>

        <div class="form-group  w-25 mx-auto">
            <label for="dateAjout">Date de l'ajout : </label>
            <input th:field="*{dateAjout}" type="date" class="form-control" id="dateAjout" placeholder="Date d'ajout ">
        </div>
        <div class="form-group  w-50 mx-auto">
            <label for="description">Description de l'article : </label>
            <input th:field="*{description}" type="textarea" class="form-control" id="description" placeholder="Commentaire :">
        </div>

<!--        <div class="form-group d-flex w-auto">-->
<!--            <label for="promotion">En promotion </label>-->
<!--            <span>Oui</span><input th:field="*{promotion}" value="true" type="radio" class="form-control h-auto " id="promotion" placeholder="">-->
<!--        </div>-->
        <div  class="form-group  w-25 mx-auto ">
            <label for="prix">prix</label>
            <input th:field="*{prix}" type="text" class="form-control justify-content-start" id="prix" placeholder="Nombre de civil present :">
        </div>


        <button type="submit" class="btn btn-primary">
            <span th:text="${produit.id == 0} ? 'Ajouter produit' : 'Modifier produit'"></span>
        </button>
    </fieldset>
</form>


</body>
</html>